
<div class='show_container'>
  <div class='show_body'>
    <h1 id='body_content_title'><%=raw @services_page.title() %></h1>
    <section id='body'>
      <ul class="nav nav-tabs" role="tablist">
        <li>
          <a href='#traffic-services'  role="tab" data-toggle="tab">
            交通信息
            </a>
        </li>
        <li class="active">
          <a href='#hotel-services'  role="tab" data-toggle="tab">
            酒店信息
            </a>
        </li>
        <li>
          <a href='#repast-services'  role="tab" data-toggle="tab">
            餐饮指南
            </a>
        </li>
        <li>
          <a href='#other-services'  role="tab" data-toggle="tab">
            其他服务
            </a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane" id='traffic-services'>
          <%=raw @services_page.content_for(:traffic_services) %>
        </div>
        <div class="tab-pane active" id='hotel-services'>
          <ol id="hotels">
            <% @hotels.each do |hotel| %>
              <li class="hotel-item" value='<%= hotel.id%>' >
                <h4><%= hotel.title%></h4>
              </li>
                <div class="col-md-12 ">
                  <div class="col-md-8">

                    <p>地址：<%= hotel.address %></p>
                    <p>星级：<span class="star"><%= hotel.star %></span></p>
                    <div class="hotel-desc" data-index='<%= hotel.id %>'><%=raw hotel.description %></div>
                  </div>
                  <div class="col-md-4">
                    <img src='<%= hotel.hotel_avatar.url %>'/>
                  </div>
                </div>

            <% end %>
          </ol>
        </div>
        <div class="tab-pane" id='repast-services'>
          <%=raw @services_page.content_for(:repast_services) %>
        </div>
        <div class="tab-pane" id='other-services'>
          <%=raw @services_page.content_for(:other_services) %>
        </div>
      </div>
    </section>
  </div>
</div>

<% content_for :stylesheets do %>
  <% if @services_page.background_image.present? %>
  <style type="text/css">
    body {
      background-image: url(<%= @services_page.background_image.url -%>);
    }
  </style>
  <% end %>
<% end %>
