<%= form_for [refinery, :contacts_admin, @contact] do |f| -%>
  <%= render '/refinery/admin/error_messages',
              :object => @contact,
              :include_object_name => true %>

  <div class='field'>
    <%= f.label :nick_name -%>
    <%= f.text_field :nick_name, :class => 'larger widest' -%>
  </div>

  <div class='field'>
    <%= f.label :contact_type -%>
    <%= f.select :contact_type_id, @contact_types.collect {|d| [d.name, d.id] }, :include_blank => false %>
  </div>

  <div class="field">
    <%= f.label :avatar %>
    <%= render :partial => "/refinery/admin/image_picker", :locals => {
      :f => f,
      :field => :avatar_id,
      :image => f.object.avatar,
      :toggle_image_display => false
    }
    %>
  </div>
  <div class="field">
    <%= f.label :qrcode %>
    <%= render :partial => "/refinery/admin/image_picker", :locals => {
      :f => f,
      :field => :qrcode_id,
      :image => f.object.qrcode,
      :toggle_image_display => false
    }
    %>
  </div>

  <div class='field'>
    <%= f.label :qq -%>
    <%= f.number_field :qq -%>
  </div>

  <div class='field'>
    <%= f.label :telephone -%>
    <%= f.text_field :telephone -%>
  </div>

  <div class='field'>
    <%= f.label :fax -%>
    <%= f.text_field :fax -%>
  </div>

  <div class='field'>
    <%= f.label :postcode -%>
    <%= f.number_field :postcode -%>
  </div>

  <div class='field'>
    <%= f.label :email -%>
    <%= f.text_field :email -%>
  </div>

  <div class='field'>
    <%= f.label :address -%>
    <%= f.text_field :address -%>
  </div>

  <%= render '/refinery/admin/form_actions', :f => f,
             :continue_editing => false,
             :delete_title => t('delete', :scope => 'refinery.contacts.admin.contacts.contact'),
             :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @contact.telephone) -%>
<% end -%>
