<div class='show_container'>
  <div class='show_body'>
    <h1 id='body_content_title'><%=raw @page.title() %></h1>
    <section id='body'>
      <div class="margin-1"></div>
      <div class="margin-1"></div>
      <div class="margin-1"></div>
      <div class="form_txt">请尽量详细地填写您的信息，有助于您顺利通过参展审核。</div>
      <form id="reporter_form" action="/blanks" method="post">
        <dl class="form_bg1">
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token() %>" >
          <dd><span>公司名称*</span>
            <input name="blank[co_name]" type="text" class="txtinput1" required="required"/></dd>
          <dd><span>Company Name*</span>
            <input name="blank[co_en_name]" type="text" class="txtinput1" required="required"/></dd>
          
          <dd><span>公司地址*</span>
            <input name="blank[co_add]" type="text" class="txtinput2" required="required"/></dd>            
          <dd><span>Address*</span>
            <input name="blank[co_en_add]" type="text" class="txtinput2" required="required"/></dd>
          <dd><span>公司邮编*</span>
            <input name="blank[co_zip]" type="text" class="txtinput1" required="required"/></dd>
          <dd><span>电子邮箱*</span>
            <input name="blank[email]" type="text" class="txtinput1" value="<%= current_refinery_user.email %>"/></dd>

          <dd><span>公司电话*</span>
            <input name="blank[co_phone]" type="text" class="txtinput" required="required"/></dd>
          <dd><span>公司传真*</span>
            <input name="blank[co_fax]" type="text" class="txtinput" required="required"/></dd>
          <dd><span>公司网站</span>
            <input name="blank[co_url]" type="text" class="txtinput1" /></dd>
          <dd><span>品牌名称</span>
            <input name="blank[brand_name]" type="text" class="txtinput1"/></dd>
          <dd><span>展会事宜联系人(法人授权)</span>
            <input name="blank[contact_name]" type="text" class="txtinput" /></dd>
          <dd><span>联系人手机*</span>
            <input name="blank[mobile_phone]" type="text" class="txtinput" required="required"/></dd>
          <input name="blank[apply_type]" value="ex_apply" type="hidden" />

          <dd class="form-btn"></dd>
          <dd class="form-btn"></dd>
          <dd class="form-btn"><input name="commit" type="submit" value="提交" class="btn btn-primary"/><input type="reset" value="重置" class="btn btn-warning"/></dd>
        </dl>
      </form>

      <div class="margin-1"></div>
      <%=raw @page.content_for(:body) %>
    </section>
  </div>
</div>

<% content_for :stylesheets do %>
<% if @page.background_image.present? %>
<style type="text/css">
  body {
    background: url(<%= @page.background_image.url -%>) no-repeat fixed;
    background-size:cover;
  }
</style>
<% end %>
<% end %>
