<div class='show_container'>
  <div class='show_body'>
    <h1 id='body_content_title'><%=raw @page.title() %></h1>
    <section id='body'>

      <div class="margin-1"></div>
      <div class="margin-1"></div>
      <%=raw @page.content_for(:body) %>
      <div class="margin-1"></div>
      <!-- <div>
        <h3>所有展区</h3>
        <div>
          <ul>
          <% @stores.each do |store| %>
            <li><a href="<%= '/stores/' + store.id.to_s() %>"><%= store.name %></a><li>
          <% end %>
          </ul>
        </div>
      </div> -->
    </section>
  </div>
</div>

<% content_for :stylesheets do %>
<% if @page.background_image.present? %>
<style type="text/css">
body {
  background: url(<%= @page.background_image.url -%>) no-repeat fixed;
  background-size:cover;
}
</style>
<% end %>
<% end %>
