<div class='show_container'>
  <div class='show_body'>
    <h1 id='body_content_title'><a href="<%= refinery.url_for(@page.parent.parent.url_marketable) %>"><img src="/assets/back.jpg"></a><%= @page.parent.parent.title() %></h1>
    <section id='body'>
      <div class="margin-1"></div>
      <ul class="tab-5">
        <% (::Refinery::Page.where(:parent_id => @page.parent_id )).order('lft ASC').each do |item| %>
        <li class="<%= 'hover' if item == @page %>">
          <a href="<%= refinery.url_for(item.url_marketable) %>">
            <% if (::Refinery::Page.where(:parent_id => @page.parent_id ).order('lft ASC').first != item) %>
            <span class="arrow-l">&#160;</span>
            <% end %>
            <span class="arrow-c w150"><%= item.title() %></span>
            <% if (::Refinery::Page.where(:parent_id => @page.parent_id ).order('lft ASC').last != item) %>
            <span class="arrow-r">&#160;</span>
            <% end %>
          </a>
        </li>
        <% end %>
      </ul>

      <div class="photo-list">
        <%=raw @page.content_for(:body) %>
      <div>
    </section>
  </div>
</div>

<% content_for :stylesheets do %>
<% if @page.background_image.present? %>
<style type="text/css">
body {
  background: url(<%= @page.background_image.url -%>) no-repeat fixed;
  background-size:cover;
}
</style>
<% end %>
<% end %>
