<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @store.name %>
</p>

<p>
  <b>X no:</b>
  <%= @store.x_no %>
</p>

<p>
  <b>Y no:</b>
  <%= @store.y_no %>
</p>


<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
