<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @viper.name %>
</p>

<p>
  <b>Job:</b>
  <%= @viper.job %>
</p>

<p>
  <b>Co name:</b>
  <%= @viper.co_name %>
</p>

<p>
  <b>Address:</b>
  <%= @viper.address %>
</p>

<p>
  <b>Zip:</b>
  <%= @viper.zip %>
</p>

<p>
  <b>Tel:</b>
  <%= @viper.tel %>
</p>

<p>
  <b>Phone:</b>
  <%= @viper.phone %>
</p>

<p>
  <b>Co url:</b>
  <%= @viper.co_url %>
</p>

<p>
  <b>T ex:</b>
  <%= @viper.t_ex %>
</p>

<p>
  <b>Vip num:</b>
  <%= @viper.vip_num %>
</p>

<p>
  <b>App type:</b>
  <%= @viper.app_type %>
</p>

<p>
  <b>Status:</b>
  <%= @viper.status %>
</p>


<%= link_to 'Edit', edit_viper_path(@viper) %> |
<%= link_to 'Back', vipers_path %>
