<h1>Listing blanks</h1>

<table>
  <tr>
    <th>Co name</th>
    <th>Contact name</th>
    <th>Brand name</th>
    <th>Co add</th>
    <th>Co zip</th>
    <th>Co phone</th>
    <th>Co url</th>
    <th>Mobile phone</th>
    <th>Job columb</th>
    <th>Job position</th>
    <th>Gender</th>
    <th>Email</th>
    <th>Country</th>
    <th>Media type</th>
    <th>Apply type</th>
    <th>Co fax</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @blanks.each do |blank| %>
  <tr>
    <td><%= blank.co_name %></td>
    <td><%= blank.contact_name %></td>
    <td><%= blank.brand_name %></td>
    <td><%= blank.co_add %></td>
    <td><%= blank.co_zip %></td>
    <td><%= blank.co_phone %></td>
    <td><%= blank.co_url %></td>
    <td><%= blank.mobile_phone %></td>
    <td><%= blank.job_columb %></td>
    <td><%= blank.job_position %></td>
    <td><%= blank.gender %></td>
    <td><%= blank.email %></td>
    <td><%= blank.country %></td>
    <td><%= blank.media_type %></td>
    <td><%= blank.apply_type %></td>
    <td><%= blank.co_fax %></td>
    <td><%= link_to 'Show', blank %></td>
    <td><%= link_to 'Edit', edit_blank_path(blank) %></td>
    <td><%= link_to 'Destroy', blank, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Blank', new_blank_path %>
