
  <div class='blanks_body'>
    <h1 id='body_content_title'>表单申请列表</h1>
    <section id='blanks'>
      <table>
        <tr>
          <th>ID</th>
          <th>申请类型</th>
          <th>公司名称</th>
          <th>品牌名称</th>
          <th>联系人</th>
          <th>公司地址</th>
          <th>公司邮编</th>
          <th>公司电话</th>
          <th>联系人电话</th>
          <th>记者（负责栏目）</th>
          <th>联系邮箱</th>
          <th>国籍</th>
          <th>记者（媒体类型）</th>
          <th>公司传真</th>
          <th>申请状态</th>
          <th>申请状态</th>
          <th></th>
          <th></th>
        </tr>

        <% @blanks.each do |blank| %>
        <tr>
          <td><%= blank.id %></td>
          <td><% blank.apply_type %>
            <% if blank.apply_type == "ex_apply" %>
            参展商
            <% else %>
            记者证
            <% end %>
          </td>
          <td><%= blank.co_name %></td>
          <td><%= blank.brand_name %></td>
          <td><%= blank.contact_name %></td>
          <td><%= blank.co_add %></td>
          <td><%= blank.co_zip %></td>
          <td><%= blank.co_phone %></td>
          <td><%= blank.mobile_phone %></td>
          <td><%= blank.job_columb %></td>
          <td><%= blank.email %></td>
          <td><%= blank.country %></td>
          <td><%= blank.media_type %></td>
          <td><%= blank.co_fax %></td>
          <td><%= blank.status %></td>
          <td>
            <select name="blank[status]" id="select_<%= blank.id %>">
              <option value="applied">申请中</option>
              <option value="accepted">已通过</option>
              <option value="denied">被拒绝</option>
            </select>
          </td>
          <td><%= link_to '查看', blank %></td>
          <td><a href="javascript:;" class="update_btn" data-id="<%= blank.id %>">更新</a></td>
        </tr>
        <% end %>
      </table>
    </section>
  </div>

<% content_for :stylesheets do %>
<style type="text/css">
.blanks_body {
  margin: 40px 40px 80px 40px;
}
.blanks_body h1 {
  margin-bottom: 40px;
}
</style>
<% end %>
