<div class='show_container'>
  <div class='show_body'>
    <h1 id='body_content_title'><%= @corp_partners_page.title() %></h1>
    <section id='body'>
      <% @corp_partner_types.each do |corp_partner_type| %>
        <h3 class="f14"><%= corp_partner_type.name %></h3>
        <div class="row-fluid">
          <div class="col-md-12">
            <div class="row mix-grid">
              <% (@corp_partners.where(:corp_partner_type_id => corp_partner_type.id)).each do |corp_partner| %>
                <div class="col-md-4 col-sm-6 mix ">
                  <div class="mix-inner pic_list_item_box">
                    <a href='<%= "//" + corp_partner.main_url %>'>
                      <div class="pic_list">
                        <img src='<%= corp_partner.corp_partner_avatar.url %>'>
                      </div>
                    </a>
                    <div class="item-title"><%= corp_partner.title %></div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="margin-4"></div>
      <% end %>
    </section>
  </div>
</div>

<% content_for :stylesheets do %>
  <% if @corp_partners_page.background_image.present? %>
  <style type="text/css">
    body {
      background: url(<%= @corp_partners_page.background_image.url -%>) no-repeat fixed;
      background-size:cover;
    }
  </style>
  <% end %>
<% end %>
