<div class='show_container'>
  <div class='show_body'>
    <h1 id='body_content_title'><%= @corp_partners_page.title() %></h1>
    <section id='body'>
      <%= @corp_partner.title %>
      <a href='<%= "//" + @corp_partner.main_url %>'><img src='<%= @corp_partner.corp_partner_avatar.url %>'></a>
      <a href='<%= "//" + @corp_partner.main_url %>'><%= @corp_partner.main_url %></a>
    </section>
  </div>
</div>

<% content_for :stylesheets do %>
  <% if @corp_partners_page.background_image.present? %>
  <style type="text/css">
    body {
      background: url(<%= @corp_partners_page.background_image.url -%>) no-repeat fixed;
      background-size:cover;
    }
  </style>
  <% end %>
<% end %>
