<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<%= render "/refinery/html_tag" %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <head>
    <%= render "/refinery/head" %>
  </head>
  <body id="<%= canonical_id @page %>">
    <!-- <%= site_bar -%> -->
    <div id="page_container">
      <header id="header">
        <%= render "/refinery/header" -%>
      </header>
      <section id="page">
        <%= yield %>
        <div class='card-holder' id="card-holder">

        </div>
        <div class="login_form" id="login_form1">
          <div class="close_btn">X&nbsp;关闭</div>
          <dl class="form_1">

            <form action="/refinery/users/login" method="post">
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token() %>" >
              <dd class="textinput">
                <input id="txtUserName" type="text" placeholder="邮箱或者用户名" name="refinery_user[login]" required="required">
              </dd>
              <dd class="textinput">
                <input id="txtPassword" type="password" placeholder="密码" name="refinery_user[password]" autocomplete="off" required="required">
              </dd>
              <dd class="f">
                <a href="/refinery/users/password/new">忘记密码</a>
              </dd>

              <dd class="form-btn">
                <input id="btnLoginSubmit" type="submit" value="登录">
              </dd>
            </form>

          </dl>
        </div>
        <div class="login_form" id="login_form2">
          <div class="close_btn">X&nbsp;关闭</div>
          <dl class="form_2">

            <form id="regform" name="regform" action="/refinery/users/register" method="post">
              <div style="margin:0;padding:0;display:inline">
                <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token() %>">
              </div>
              <div id="regmsgtips" style="color:#BC1B23">&nbsp;</div>
              <dd class="textinput">
                <input id="txtEmail" type="text" class="input wide required email" name="user[email]" placeholder="邮箱" required="required"  pattern="^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$">
              </dd>
              <dd class="textinput">
                <input id="txtName" type="text" class="input wide required" name="user[username]" placeholder="用户名" required="required">
              </dd>
              <dd class="textinput">
                <input id="txtPassword1" type="password" value="" class="input wide required" minlength="6" maxlength="20" name="user[password]" placeholder="密码" autocomplete="off" required="required">
              </dd>
              <dd class="textinput">
                <input id="txtPassword2" type="password" value="" class="input wide required" equalto="#txtPassword1" name="user[password_confirmation]" placeholder="密码确认" autocomplete="off" required="required">
              </dd>

              <dd class="sl">
                <label class="label1  radio-on">
                  <input type="radio" name="jiaose" value="exhibitor" id="RadioGroup1_0" checked="checked">
                  参展商
                </label>
                <label class="label2">
                  <input type="radio" name="jiaose" value="normal" id="RadioGroup1_1">
                  观众
                </label>
                <label style="margin:none !important" class="label3">
                  <input type="radio" name="jiaose" value="journalist" id="RadioGroup1_2">
                  记者
                </label>
              </dd>


              <dd class="form-btn"><input id="btnButtonReg" type="submit" value="注册"></dd>
              <dd class="f1">请填写您的真实资料，以方便收到最新资讯！</dd>
            </form>
          </dl>
        </div>
      </section>
      <footer>
        <%= render "/refinery/footer" -%>
      </footer>
    </div>
    <%= render "/refinery/javascripts" %>
    <script>
      $(document).ready(function(){
        <% if flash.now[:notice] == "1111" %>
          alert("您的用户名或密码错误.");
        <% end %>
      });
    </script>
  </body>
</html>
